*{
    padding: 0;
    margin: 0;
    display:block;
}

body{
    font-family: 'Luckiest Guy';
    background-color: #c5e0e4;
}
.container{
    padding: 20px;
    overflow: hidden;
    background-color: rgb(226, 43, 83);
    
}
.container h1{
    float: left;
    margin: 10px;
    color:#f6f6fa;
    font-size: 2rem;
}
.container ul{
    list-style-type: none;
    font-size: 20px;
    margin-left: 60%;
    font-size: 1.5rem;
}
.container li{
    margin-top: 10px;
    float: left;
    padding: 0 20px 0 20px;
}
.container a{
    text-decoration: none;
    color: #f4f4f8;
}

.current a::after{
    content: '_';
    background-color: #f6f6fa;
    font-size: 4px;
    display: block;
}
.wrapper{
    display: grid;
    grid-template-columns:80% 18%;

}
.equetion{
    font-size: 60px;
    background-color: #fafafc;
    border-radius: 5px;
    text-align: center;
    padding-top:15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.equetion h1{
    display: inline;
    padding: 20px;
    text-decoration: none;
    
}
.answer{
    font-size: 62px;
    cursor: pointer;
}
.answer h1{
    cursor: pointer;
    color: whitesmoke;
    border-radius: 5px;
    margin-top: 10px;
    text-align:center;
    width: 90%;
}
#option1{
    background-color: #fe4a49;
    transition: 1s;
}
#option1:hover{
    color:#fe4a49;
    background-color: white;
}
#option2{
    background-color:#2ab7ca;
    transition: 1s;
}
#option2:hover{
    color:#2ab7ca;
    background-color: white;
}
#option3{
    background-color: #fed766;
    transition: 1s;
}
#option3:hover{
    color:#fed766;
    background-color: white;
}



















